<?xml version="1.0" encoding="utf-8" ?> 
<configuration>
 <system.runtime.remoting>
  <application>
   <client>
    <wellknown type  = "KUKARoboter.WNS_SchedulerRemoting.ISchedulerService, SchedulerRemoting"
               url   = "tcp://localhost:5110/KUKASchedulerService.soap"/>
   </client>
  </application>
 </system.runtime.remoting>
</configuration>