<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="KukaRoboter.SmartHMI.LegacyPlugIns" type="Ade.Internal.ConfigurationSectionHandler, Ade.ComponentsImpl" allowExeDefinition="MachineToLocalUser" />
    <section name="KukaRoboter.SmartHMI.Menu" type="Ade.Internal.ConfigurationSectionHandler, Ade.ComponentsImpl" allowExeDefinition="MachineToLocalUser" />
    <section name="Ade.AdeComponentFramework.Components" type="Ade.Internal.ConfigurationSectionHandler, Ade.ComponentsImpl"/>
    <section name="KukaRoboter.SmartHMI.ViewConfiguration" type="Ade.Internal.ConfigurationSectionHandler, Ade.ComponentsImpl"/>
  </configSections>
  


  <location allowOverride="true" inheritInChildApplications="true">
    <Ade.AdeComponentFramework.Components type="Ade.Components.ComponentReferenceConfiguration, Ade.Components">
    <!--Type=[ViewModel including the wohle namespace], [Assembly including the ViewModel] -->
      <Component Type="KukaRoboter.SmartHMI.PressTechReady.Programs.PTRProgramManagementViewModel, KukaRoboter.SmartHMI.PressTechReady.Programs" />
    <!--Type=[ViewModel including the wohle namespace], [Assembly including the ViewModel] -->
      <Component Type="KukaRoboter.SmartHMI.PressTechReady.Variables.PTRVariablesViewModel, KukaRoboter.SmartHMI.PressTechReady.Variables" />
    </Ade.AdeComponentFramework.Components>
    <KukaRoboter.SmartHMI.ViewConfiguration type="KukaRoboter.SmartHMI.UIFramework.ViewManager.ViewConfiguration, SmartHMI">
      <View SystemName="PTRProgramManagementView" Caption="PressTechReady#ProgramsManagement"
        Type="KukaRoboter.SmartHMI.PressTechReady.Programs.PTRProgramManagementView, KukaRoboter.SmartHMI.PressTechReady.Programs"
        ViewModel="KukaRoboter.SmartHMI.PressTechReady.Programs.PTRProgramManagementViewModel"
        Display="Info" />
      <View SystemName="ProgramConfiguration" Caption="PressTechReady#ProgramConfiguration"
        Type="KukaRoboter.SmartHMI.PressTechReady.Variables.PTRVariablesView, KukaRoboter.SmartHMI.PressTechReady.Variables"
        ViewModel="KukaRoboter.SmartHMI.PressTechReady.Variables.PTRVariablesViewModel"
        Display="Info" />
      <View SystemName="CommissioningConfiguration" Caption="PressTechReady#CommissioningConfiguration"
        Type="KukaRoboter.SmartHMI.PressTechReady.Variables.PTRVariablesView, KukaRoboter.SmartHMI.PressTechReady.Variables"
        ViewModel="KukaRoboter.SmartHMI.PressTechReady.Variables.PTRVariablesViewModel"
        Display="Info" />
      <View SystemName="ProgramConfigurationEditMode" Caption="PressTechReady#ProgramConfigurationEditMode"
        Type="KukaRoboter.SmartHMI.PressTechReady.Variables.PTRVariablesView, KukaRoboter.SmartHMI.PressTechReady.Variables"
        ViewModel="KukaRoboter.SmartHMI.PressTechReady.Variables.PTRVariablesViewModel"
        Display="Info" />
      <View SystemName="CommissioningConfigurationEditMode" Caption="PressTechReady#CommissioningConfigurationEditMode"
        Type="KukaRoboter.SmartHMI.PressTechReady.Variables.PTRVariablesView, KukaRoboter.SmartHMI.PressTechReady.Variables"
        ViewModel="KukaRoboter.SmartHMI.PressTechReady.Variables.PTRVariablesViewModel"
        Display="Info" />
      <View SystemName="ProgramDiagnosisEditMode" Caption="PressTechReady#ProgramDiagnosisEditMode"
        Type="KukaRoboter.SmartHMI.PressTechReady.Variables.PTRVariablesView, KukaRoboter.SmartHMI.PressTechReady.Variables"
        ViewModel="KukaRoboter.SmartHMI.PressTechReady.Variables.PTRVariablesViewModel"
        Display="Info" />
      <View SystemName="DebugEditMode" Caption="PressTechReady#DebugEditMode"
        Type="KukaRoboter.SmartHMI.PressTechReady.Variables.PTRVariablesView, KukaRoboter.SmartHMI.PressTechReady.Variables"
        ViewModel="KukaRoboter.SmartHMI.PressTechReady.Variables.PTRVariablesViewModel"
        Display="Info" />
      <View SystemName="ProgramDiagnosis" Caption="PressTechReady#ProgramDiagnosis"
        Type="KukaRoboter.SmartHMI.PressTechReady.Variables.PTRVariablesView, KukaRoboter.SmartHMI.PressTechReady.Variables"
        ViewModel="KukaRoboter.SmartHMI.PressTechReady.Variables.PTRVariablesViewModel"
        Display="Info" />
      <View SystemName="Debug" Caption="PressTechReady#Debug"
        Type="KukaRoboter.SmartHMI.PressTechReady.Variables.PTRVariablesView, KukaRoboter.SmartHMI.PressTechReady.Variables"
        ViewModel="KukaRoboter.SmartHMI.PressTechReady.Variables.PTRVariablesViewModel"
        Display="Info" />
    </KukaRoboter.SmartHMI.ViewConfiguration>

    <KukaRoboter.SmartHMI.LegacyPlugIns type="KukaRoboter.SmartHMI.LegacySupport.Internal.LegacyPlugIn, KukaRoboter.SmartHMI.LegacySupport">
      <LegacyPlugIn SystemName="PlcAndServices" Options="Cache"
          Caption="PressTechReady#PlcAndServices" Type="KukaRoboter.SmartHMI.PressTechReady.PlcAndServices.PlcAndServices, KukaRoboter.SmartHMI.PressTechReady.PlcAndServices"
          View="LegacyInfo" />
      <LegacyPlugIn SystemName="FluidsPanel" Options="ForceClose"
          Caption="PressTechReady#FluidsPanel" Type="KukaRoboter.SmartHMI.PressTechReady.FluidsPanel.FluidsPanel, KukaRoboter.SmartHMI.PressTechReady.FluidsPanel"
          View="LegacyInfo" />
      <LegacyPlugIn SystemName="SiteInfo" Options="ForceClose"
          Caption="PressTechReady#SiteInfo" Type="KukaRoboter.SmartHMI.PressTechReady.SiteInfo.SiteInfo, KukaRoboter.SmartHMI.PressTechReady.SiteInfo"
          View="LegacyMain" />
    </KukaRoboter.SmartHMI.LegacyPlugIns>
    
    <KukaRoboter.SmartHMI.Menu type="KukaRoboter.SmartHMI.UIFramework.Menu.MenuRootImpl, SmartHMI">
      <MenuRoot SystemName="MainMenu" DisplayName="MainMenuTitle">
        <MenuFolder DisplayName="PressTechReady#PressTechReady">
          <MenuItem DisplayName="PressTechReady#PlcAndServices" MergeOrder="10">
            <CommandCall Target="LegacyLoader.OpenPlugIn">
              <Argument Name="PlugInName">PlcAndServices</Argument>
            </CommandCall>
          </MenuItem>
          <MenuItem DisplayName="PressTechReady#FluidsPanel" MergeOrder="20">
            <CommandCall Target="LegacyLoader.OpenPlugIn">
              <Argument Name="PlugInName">FluidsPanel</Argument>
            </CommandCall>
          </MenuItem>
          <MenuItem DisplayName="PressTechReady#SiteInfo" MergeOrder="30">
            <CommandCall Target="LegacyLoader.OpenPlugIn">
              <Argument Name="PlugInName">SiteInfo</Argument>
            </CommandCall>
          </MenuItem>
          <MenuItem DisplayName="PressTechReady#ProgramsManagement" MergeOrder="40">
            <CommandCall Target="ViewManager.OpenView">
              <Argument Name="ViewName">PTRProgramManagementView</Argument>
            </CommandCall>
          </MenuItem>
          <MenuItem DisplayName="PressTechReady#ProgramConfiguration" MergeOrder="50">
            <CommandCall Target="ViewManager.OpenView">
              <Argument Name="ViewName">ProgramConfiguration</Argument>
              <Argument Name="EntryPoint">normal|PressTechReady|SmartHMI.exe.PressTechReady.Variables.Programs</Argument>
            </CommandCall>
          </MenuItem>
        </MenuFolder>
        <MenuFolder DisplayName="MenuBar#Setup">
          <MenuItem DisplayName="PressTechReady#CommissioningConfiguration" MergeOrder="1000">
            <CommandCall Target="ViewManager.OpenView" Right="UM20">
              <Argument Name="ViewName">CommissioningConfiguration</Argument>
              <Argument Name="EntryPoint">normal|PressTechReady|SmartHMI.exe.PressTechReady.Variables.Commissioning</Argument>
            </CommandCall>
          </MenuItem>
        </MenuFolder>
        <MenuFolder DisplayName="MenuBar#Config">
          <MenuFolder DisplayName="MenuBar#ConfigStatKeys">
            <MenuItem DisplayName="PressTechReady#PressTechReady" MergeOrder="100">
              <CommandCall Target="LegacyLoader.InvokeModuleProc">
                <Argument Name="PlugInName">USERSTATKEYBAROCX</Argument>
                <Argument Name="ProcID">11</Argument>
                <Argument Name="ParamList">KUKATPUSER;Gripper.SkbAllParts</Argument>
              </CommandCall>
            </MenuItem>
          </MenuFolder>
          <MenuFolder DisplayName="MenuBar#ConfigMiscellaneous">
            <MenuItem DisplayName="PressTechReady#ProgramConfigurationEditMode" MergeOrder="1000">
              <CommandCall Target="ViewManager.OpenView" Right="UM30">
                <Argument Name="ViewName">ProgramConfigurationEditMode</Argument>
                <Argument Name="EntryPoint">config|PressTechReady|SmartHMI.exe.PressTechReady.Variables.Programs</Argument>
              </CommandCall>
            </MenuItem>
            <MenuItem DisplayName="PressTechReady#CommissioningConfigurationEditMode" MergeOrder="1010">
              <CommandCall Target="ViewManager.OpenView" Right="UM30">
                <Argument Name="ViewName">CommissioningConfigurationEditMode</Argument>
                <Argument Name="EntryPoint">config|PressTechReady|SmartHMI.exe.PressTechReady.Variables.Commissioning</Argument>
              </CommandCall>
            </MenuItem>
            <MenuItem DisplayName="PressTechReady#ProgramDiagnosisEditMode" MergeOrder="1020">
              <CommandCall Target="ViewManager.OpenView" Right="UM30">
                <Argument Name="ViewName">ProgramDiagnosisEditMode</Argument>
                <Argument Name="EntryPoint">config|PressTechReady|SmartHMI.exe.PressTechReady.Variables.Diagnosis</Argument>
              </CommandCall>
            </MenuItem>
            <MenuItem DisplayName="PressTechReady#DebugEditMode" MergeOrder="1030">
              <CommandCall Target="ViewManager.OpenView" Right="UM30">
                <Argument Name="ViewName">DebugEditMode</Argument>
                <Argument Name="EntryPoint">config|PressTechReady|SmartHMI.exe.PressTechReady.Variables.Debug</Argument>
              </CommandCall>
            </MenuItem>
          </MenuFolder>
        </MenuFolder>
        <MenuFolder DisplayName="MenuBar#MonitorDiagnosis">
          <MenuItem DisplayName="PressTechReady#ProgramDiagnosis" MergeOrder="1000">
            <CommandCall Target="ViewManager.OpenView">
              <Argument Name="ViewName">ProgramDiagnosis</Argument>
              <Argument Name="EntryPoint">normal|PressTechReady|SmartHMI.exe.PressTechReady.Variables.Diagnosis</Argument>
            </CommandCall>
          </MenuItem>
          <MenuItem DisplayName="PressTechReady#Debug" MergeOrder="1010">
            <CommandCall Target="ViewManager.OpenView">
              <Argument Name="ViewName">Debug</Argument>
              <Argument Name="EntryPoint">normal|PressTechReady|SmartHMI.exe.PressTechReady.Variables.Debug</Argument>
            </CommandCall>
          </MenuItem>
        </MenuFolder>
      </MenuRoot>
      <MenuRoot SystemName="CommandMenu">
        <MenuFolder DisplayName="PressTechReady#PressTechReady">
          <MenuItem DisplayName="PressTechReady#EventsMenu" MergeOrder="100">
            <CommandCall Target="LegacyLoader.InvokeModuleProc">
              <Argument Name="PlugInName">INLINEFORM</Argument>
              <Argument Name="ProcID">2011</Argument>
              <Argument Name="ParamList">KUKATPUSER;Events;PlcStop</Argument>
            </CommandCall>
          </MenuItem>
          <MenuItem DisplayName="PressTechReady#OrdersMenu" MergeOrder="101">
            <CommandCall Target="LegacyLoader.InvokeModuleProc">
              <Argument Name="PlugInName">INLINEFORM</Argument>
              <Argument Name="ProcID">2011</Argument>
              <Argument Name="ParamList">KUKATPUSER;Orders;PlcStop</Argument>
            </CommandCall>
          </MenuItem>
          <MenuItem DisplayName="PressTechReady#GripperMenu" MergeOrder="102">
            <CommandCall Target="LegacyLoader.InvokeModuleProc">
              <Argument Name="PlugInName">INLINEFORM</Argument>
              <Argument Name="ProcID">2011</Argument>
              <Argument Name="ParamList">KUKATPUSER;Gripper;Control</Argument>
            </CommandCall>
          </MenuItem>
          <MenuItem DisplayName="PressTechReady#ToolsMenu" MergeOrder="103">
            <CommandCall Target="LegacyLoader.InvokeModuleProc">
              <Argument Name="PlugInName">INLINEFORM</Argument>
              <Argument Name="ProcID">2011</Argument>
              <Argument Name="ParamList">KUKATPUSER;Tools;Control</Argument>
            </CommandCall>
          </MenuItem>
          <MenuItem DisplayName="PressTechReady#GripperChangerMenu" MergeOrder="104">
            <CommandCall Target="LegacyLoader.InvokeModuleProc">
              <Argument Name="PlugInName">INLINEFORM</Argument>
              <Argument Name="ProcID">2011</Argument>
              <Argument Name="ParamList">KUKATPUSER;GripperChanger;Command</Argument>
            </CommandCall>
          </MenuItem>
        </MenuFolder>
      </MenuRoot>
    </KukaRoboter.SmartHMI.Menu>
  </location>
</configuration>