<?xml version="1.0"?>
<configuration>
   <configSections>
      <section name="KukaRoboter.SmartHMI.SetupWizardSteps" type="Ade.Internal.ConfigurationSectionHandler, Ade.ComponentsImpl"/>
   </configSections>

   <KukaRoboter.SmartHMI.SetupWizardSteps type="KukaRoboter.SmartHMI.SetupWizard.SequenceRoot, KukaRoboter.SmartHMI.SetupWizard">
      <SequenceRoot SystemName="RobotSetup"
                    DisplayName="SetupWizard#SetupWizardTitle" Description="RobotSetup#RobotSetupDescription">

         <CommonResultProviders>
            <!-- Returns true if all axis are adjusted -->
            <ServiceProcCall SystemName="IsRobotAdjusted"
               Type="KukaRoboter.SmartHMI.LegacySupport.ILegacyKRCInterface, KukaRoboter.SmartHMI.LegacySupport"
               PropertyPath="Robot.IsFullyAdjusted"/>
            <!-- Returns the number of defined tools -->
            <ServiceProcCall SystemName="CountDefinedTools"
               Type="KukaRoboter.SmartHMI.CorePlugIns.Jogging.Interfaces.IJogging, KukaRoboter.SmartHMI.CorePlugIns"
               Method="CountDefinedTools"/>
            <!-- Returns the number of defined bases -->
            <ServiceProcCall SystemName="CountDefinedBases"
               Type="KukaRoboter.SmartHMI.CorePlugIns.Jogging.Interfaces.IJogging, KukaRoboter.SmartHMI.CorePlugIns"
               Method="CountDefinedBases"/>
            <!-- Returns true if all defined tools have load data -->
            <ServiceProcCall SystemName="AreAllToolLoadsDefined"
               Type="KukaRoboter.SmartHMI.CorePlugIns.Jogging.Interfaces.IJogging, KukaRoboter.SmartHMI.CorePlugIns"
               Method="AreAllToolLoadsDefined"/>
         </CommonResultProviders>
         
         <!-- EnterRobotData -->
         <CommandStep SystemName="EnterRobotData"
                      DisplayName="RobotSetup#EnterRobotDataTitle"
                      Description="RobotSetup#EnterRobotDataDescription"
                      Message="RobotSetup#EnterRobotDataMessage">
            <CommandCall Target="LegacyLoader.OpenPlugIn">
               <Argument Name="PlugInName">RobotData</Argument>
            </CommandCall>
            <Required>
               <!-- Required if the RobotName is "0" or empty -->
               <CompareRegex Result="0|">
                  <ServiceProcCall Type="KukaRoboter.SmartHMI.LegacySupport.ILegacyKRCInterface, KukaRoboter.SmartHMI.LegacySupport"
                                   PropertyPath="Robot.Name"/>
               </CompareRegex>
            </Required>
         </CommandStep>

         <CommandStep SystemName="NetworkConfiguration"
             DisplayName="KliConfiguration#KliConfigTitle"
             Success="Executed">
            <CommandCall Target="ViewManager.OpenView" Right="UM20">
               <Argument Name="ViewName">KliConfig</Argument>
            </CommandCall>
            <PlaceAfter Target="EnterRobotData"/>
         </CommandStep>

         <!-- Adjustment -->
         <Group SystemName="AdjustmentGroup"
                DisplayName="RobotSetup#AdjustmentGroupTitle"
                Description="RobotSetup#AdjustmentGroupDescription">
            <!-- Adjustment is placed after NetworkConfiguration, 
                 however completion of EnterRobotData is not required -->
            <PlaceAfter Target="NetworkConfiguration"/>

            <!-- Unmastering is always executable and completed if executed once
                 The state of the Adjustment is not regarded -->
            <CommandStep SystemName="Unmaster"
                         DisplayName="MenuBar#SetupUnmaster"
                         Description="RobotSetup#UnmasterDescription"
                         Message="RobotSetup#UnmasterMessage"
                         Success="Executed">
               <CommandCall Target="LegacyLoader.OpenPlugIn">
                  <Argument Name="PlugInName">JUSTAGE</Argument>
                  <Argument Name="Arguments">20</Argument>
               </CommandCall>
            </CommandStep>

            <CommandStep SystemName="EnsureT1"
                         DisplayName="RobotSetup#EnsureT1Title"
                         Description="RobotSetup#EnsureT1Description"
                         Message="RobotSetup#EnsureT1Message">
               <PlaceAfter Target="Unmaster"/>
               <Required>
                  <!-- Required if we are not in T1 and the robot is not fully adjusted -->
                  <Not>
                     <CompareRegex Result="T1">
                        <GlobalState Name="KrcState.ModeOp"/>
                     </CompareRegex>
                  </Not>
                  <Compare Result="False">
                     <CommonProvider Target="IsRobotAdjusted"/>
                  </Compare>
               </Required>
            </CommandStep>

            <CommandStep SystemName="Adjust" DisplayName="RobotSetup#AdjustTitle"
                         Description="RobotSetup#AdjustDescription"
                         Message="RobotSetup#AdjustMessage">
               <Required>
                  <!-- Required if the robot is not fully adjusted -->
                  <Compare Result="False">
                     <CommonProvider Target="IsRobotAdjusted"/>
                  </Compare>
               </Required>
               <Execute>
                  <!-- Executable if we are in T1: Ensure T1 is completed -->
                  <CheckCompleted Target="EnsureT1"/>
               </Execute>
               <CommandCall Target="LegacyLoader.OpenPlugIn">
                  <Argument Name="PlugInName">JUSTAGE</Argument>
                  <Argument Name="Arguments">11</Argument>
               </CommandCall>
            </CommandStep>

            <!-- LearnOffset is completed when called once (no consideration if the result)-->
            <CommandStep SystemName="LearnOffset" DisplayName="RobotSetup#LearnOffsetTitle"
                         Description="RobotSetup#LearnOffsetDescription"
                         Message="RobotSetup#LearnOffsetMessage"
                         Success="Executed">
               <Execute>
                  <!-- Executable if we are in T1 and Adjust is completed -->
                  <CheckCompleted Target="EnsureT1"/>
                  <CheckCompleted Target="Adjust"/>
               </Execute>
               <CommandCall Target="LegacyLoader.OpenPlugIn">
                  <Argument Name="PlugInName">JUSTAGE</Argument>
                  <Argument Name="Arguments">13</Argument>
               </CommandCall>
            </CommandStep>
         </Group>

         <!-- MeasureTools -->
         <Group SystemName="MeasureToolsGroup"
                DisplayName="RobotSetup#MeasureToolsGroupTitle">
            <Required>
               <CheckCompleted Target="AdjustmentGroup"/>
               <Compare Result="0" >
                  <CommonProvider Target="CountDefinedTools"/>
               </Compare>
            </Required>

            <!-- TCP Measurement -->
            <Checkpoint SystemName="SelectTcpMeasurementType"
                        DisplayName="RobotSetup#SelectTcpMeasurementTypeTitle"
                        Message="RobotSetup#SelectTcpMeasurementMessage"
                        Type="Buttons">
               <Answer Id="ToolXYZ4P" DisplayName="Measurement#SetupToolXYZ4P" />
               <Answer Id="ToolXYZRef" DisplayName="Measurement#SetupToolXYZRef"/>
               <Answer Id="ToolNum" DisplayName="Measurement#SetupToolNum"/>
            </Checkpoint>

            <CommandStep SystemName="MeasureToolXYZ4P" DisplayName="Measurement#SetupToolXYZ4P"
                         Description="RobotSetup#MeasureTcpCommonDescripton"
                         Message="RobotSetup#MeasureTcpCommonMessage">
               <Appear>
                  <Compare Result="ToolXYZ4P">
                     <CheckpointResult Target="SelectTcpMeasurementType"/>
                  </Compare>
               </Appear>
               <CommandCall Target="LegacyLoader.OpenPlugIn">
                  <Argument Name="PlugInName">Measurement</Argument>
                  <Argument Name="Arguments">20</Argument>
               </CommandCall>
            </CommandStep>

            <CommandStep SystemName="MeasureToolXYZRef" DisplayName="Measurement#SetupToolXYZRef"
                         Description="RobotSetup#MeasureTcpCommonDescripton"
                         Message="RobotSetup#MeasureTcpCommonMessage">
               <Appear>
                  <Compare Result="ToolXYZRef">
                     <CheckpointResult Target="SelectTcpMeasurementType"/>
                  </Compare>
               </Appear>
               <CommandCall Target="LegacyLoader.OpenPlugIn">
                  <Argument Name="PlugInName">Measurement</Argument>
                  <Argument Name="Arguments">21</Argument>
               </CommandCall>
            </CommandStep>

            <CommandStep SystemName="MeasureToolNum" DisplayName="Measurement#SetupToolNum"
                         Description="RobotSetup#MeasureTcpCommonDescripton"
                         Message="RobotSetup#MeasureTcpCommonMessage">
               <Appear>
                  <Compare Result="ToolNum">
                     <CheckpointResult Target="SelectTcpMeasurementType"/>
                  </Compare>
               </Appear>
               <CommandCall Target="LegacyLoader.OpenPlugIn">
                  <Argument Name="PlugInName">Measurement</Argument>
                  <Argument Name="Arguments">24</Argument>
               </CommandCall>
            </CommandStep>

            <!-- Orientation Measurement -->
            <Checkpoint SystemName="SelectToolOrientationMeasurementType"
                        DisplayName="RobotSetup#SelectToolOrientationMeasurementTypeTitle"
                        Message="RobotSetup#SelectToolOrientationMeasurementMessage"
                        Type="Buttons">
               <Answer Id="ToolABC2P" DisplayName="Measurement#SetupToolABC2P"/>
               <Answer Id="ToolABCWorld" DisplayName="Measurement#SetupToolABCWorld"/>
               <Execute>
                  <!-- Executable if we have at least one defined tool -->
                  <Compare Result="0" Mode="Greater">
                     <CommonProvider Target="CountDefinedTools"/>
                  </Compare>
               </Execute>
            </Checkpoint>

            <CommandStep SystemName="MeasureToolABC2P" DisplayName="Measurement#SetupToolABC2P"
                         Description="RobotSetup#MeasureToolOrientationCommonDescripton"
                         Message="RobotSetup#MeasureToolOrientationCommonMessage">
               <Appear>
                  <Compare Result="ToolABC2P">
                     <CheckpointResult Target="SelectToolOrientationMeasurementType"/>
                  </Compare>
               </Appear>
               <CommandCall Target="LegacyLoader.OpenPlugIn">
                  <Argument Name="PlugInName">Measurement</Argument>
                  <Argument Name="Arguments">22</Argument>
               </CommandCall>
            </CommandStep>

            <CommandStep SystemName="MeasureToolABCWorld" DisplayName="Measurement#SetupToolABCWorld"
                         Description="RobotSetup#MeasureToolOrientationCommonDescripton"
                         Message="RobotSetup#MeasureToolOrientationCommonMessage">
               <Appear>
                  <Compare Result="ToolABCWorld">
                     <CheckpointResult Target="SelectToolOrientationMeasurementType"/>
                  </Compare>
               </Appear>
               <CommandCall Target="LegacyLoader.OpenPlugIn">
                  <Argument Name="PlugInName">Measurement</Argument>
                  <Argument Name="Arguments">23</Argument>
               </CommandCall>
            </CommandStep>
         </Group>

         <!-- Tool Load Data -->
         <Group SystemName="ToolLoadDataGroup"
                DisplayName="MenuBar#ServiceMassIdent">
            <Execute>
               <CheckCompleted Target="MeasureToolsGroup"/>
            </Execute>

            <!-- EnterToolLoadData -->
            <CommandStep SystemName="EnterToolLoadData"
                         DisplayName="Measurement#SetupToolLoadData"
                         Description="RobotSetup#EnterToolLoadDataDescripton"
                         Message="RobotSetup#EnterToolLoadDataMessage">
               <Required>
                  <Compare Result="False" >
                     <CommonProvider Target="AreAllToolLoadsDefined"/>
                  </Compare>
               </Required>
               <CommandCall Target="LegacyLoader.OpenPlugIn">
                  <Argument Name="PlugInName">Measurement</Argument>
                  <Argument Name="Arguments">25</Argument>
               </CommandCall>
            </CommandStep>

            <!-- EnterAdditionalLoadData -->
            <CommandStep SystemName="EnterAdditionalLoadData"
                         DisplayName="Measurement#SetupA3LoadData"
                         Description="RobotSetup#EnterAdditionalLoadDataDescripton"
                         Success="Executed">
               <PlaceAfter Target="EnterToolLoadData"/>
               <CommandCall Target="LegacyLoader.OpenPlugIn">
                  <Argument Name="PlugInName">Measurement</Argument>
                  <Argument Name="Arguments">60</Argument>
               </CommandCall>
            </CommandStep>
         </Group>

         <!-- MeasureBases -->
         <Group SystemName="MeasureBasesGroup"
                DisplayName="RobotSetup#MeasureBasesGroupTitle">
            <PlaceAfter Target="ToolLoadDataGroup"/>
            <Required>
               <CheckCompleted Target="MeasureToolsGroup"/>
               <Compare Result="0" >
                  <CommonProvider Target="CountDefinedBases"/>
               </Compare>
            </Required>

            <Checkpoint SystemName="SelectBaseMeasurementType"
                        DisplayName="RobotSetup#SelectBaseMeasurementTypeTitle"
                        Message="RobotSetup#SelectBaseMeasurementTypeMessage"
                        Type="Buttons">
               <Answer Id="Base3P" DisplayName="Measurement#SetupBase3P"/>
               <Answer Id="BaseInd" DisplayName="Measurement#SetupBaseInd"/>
            </Checkpoint>

            <CommandStep SystemName="MeasureBase3P" DisplayName="Measurement#SetupBase3P"
                         Description="RobotSetup#MeasureBaseCommonDescripton"
                         Message="RobotSetup#MeasureBaseCommonMessage">
               <Appear>
                  <Compare Result="Base3P">
                     <CheckpointResult Target="SelectBaseMeasurementType"/>
                  </Compare>
               </Appear>
               <CommandCall Target="LegacyLoader.OpenPlugIn">
                  <Argument Name="PlugInName">Measurement</Argument>
                  <Argument Name="Arguments">30</Argument>
               </CommandCall>
            </CommandStep>

            <CommandStep SystemName="MeasureBaseInd" DisplayName="Measurement#SetupBaseInd"
                         Description="RobotSetup#MeasureBaseCommonDescripton"
                         Message="RobotSetup#MeasureBaseCommonMessage">
               <Appear>
                  <Compare Result="BaseInd">
                     <CheckpointResult Target="SelectBaseMeasurementType"/>
                  </Compare>
               </Appear>
               <CommandCall Target="LegacyLoader.OpenPlugIn">
                  <Argument Name="PlugInName">Measurement</Argument>
                  <Argument Name="Arguments">31</Argument>
               </CommandCall>
            </CommandStep>
         </Group>

      </SequenceRoot>
   </KukaRoboter.SmartHMI.SetupWizardSteps>

</configuration>