<?xml version="1.0"?>
<configuration>
   <!-- ### Section handler ###-->
   <!-- Every section used in this file must have a registered section handler -->
   <configSections>
      <!-- Custom sections -->
      <section name="KukaRoboter.SmartHMI.LegacyPlugIns" type="Ade.Internal.ConfigurationSectionHandler, Ade.ComponentsImpl" allowExeDefinition="MachineToLocalUser" />
      <section name="KukaRoboter.SmartHMI.Menu" type="Ade.Internal.ConfigurationSectionHandler, Ade.ComponentsImpl" allowExeDefinition="MachineToLocalUser" />
      <section name="KukaRoboter.SmartHMI.SetupWizardSteps" type="Ade.Internal.ConfigurationSectionHandler, Ade.ComponentsImpl"/>
   </configSections>
   <!--Legacy PlugIns -->
   <KukaRoboter.SmartHMI.LegacyPlugIns type="KukaRoboter.SmartHMI.LegacySupport.Internal.LegacyPlugIn, KukaRoboter.SmartHMI.LegacySupport">
      <!-- LoadDataDetermination -->
      <LegacyPlugIn SystemName="LdePlugIn" Caption="LoadDataDetermination#LdeTitle" Options="Cache" Type="KUKARoboter.LdeTech.LdePlugIn, LdeTech" PrimaryRole="None" View="LegacyMain">
         <SoftkeyBar SystemName="skSettings">
            <Button Position="5" DBModule="LoadDataDetermination" DBKey="Start" ProcID="106" ModuleIdent="LdePlugIn"/>
         </SoftkeyBar>
         <SoftkeyBar SystemName="skAxis">
            <Button Position="1" DBModule="LoadDataDetermination" DBKey="LadeIdf" ProcID="202" ModuleIdent="LdePlugIn"/>
            <Button Position="2" DBModule="LoadDataDetermination" DBKey="SaveIdf" ProcID="203" ModuleIdent="LdePlugIn"/>
            <Button Position="3" DBModule="LoadDataDetermination" DBKey="LeseAchsen" ProcID="204" ModuleIdent="LdePlugIn"/>
         </SoftkeyBar>
         <SoftkeyBar SystemName="skSaveIdf">
            <Button Position="0" DBModule="SoftKeyBar" DBKey="Save" ProcID="206" ModuleIdent="LdePlugIn"/>
            <Button Position="1" DBModule="LoadDataDetermination" DBKey="NeuesIdf" ProcID="207" ModuleIdent="LdePlugIn"/>
            <Button Position="6" DBModule="SoftKeyBar" DBKey="Cancel" ProcID="201" ModuleIdent="LdePlugIn"/>
         </SoftkeyBar>
         <SoftkeyBar SystemName="skLoadIdf">
            <Button Position="0" DBModule="SoftKeyBar" DBKey="FileLoad" ProcID="205" ModuleIdent="LdePlugIn"/>
            <Button Position="6" DBModule="SoftKeyBar" DBKey="Cancel" ProcID="201" ModuleIdent="LdePlugIn"/>
         </SoftkeyBar>
         <SoftkeyBar SystemName="skAddLoad">
            <Button Position="0" DBModule="SoftKeyBar" DBKey="Save" ProcID="301" ModuleIdent="LdePlugIn"/>
            <Button Position="1" DBModule="SoftKeyBar" DBKey="DefaultBounds" ProcID="302" ModuleIdent="LdePlugIn"/>
         </SoftkeyBar>
         <SoftkeyBar SystemName="skEmpty"/>
         <SoftkeyBar SystemName="skResult">
            <Button Position="1" DBModule="LoadDataDetermination" DBKey="NeueMessung" ProcID="402" ModuleIdent="LdePlugIn"/>
            <Button Position="2" DBModule="LoadDataDetermination" DBKey="Toolzuweisen" ProcID="403" ModuleIdent="LdePlugIn"/>
            <Button Position="3" DBModule="LoadDataDetermination" DBKey="USB" ProcID="404" ModuleIdent="LdePlugIn"/>
            <Button Position="4" DBModule="LoadDataDetermination" DBKey="Backupen" ProcID="405" ModuleIdent="LdePlugIn"/>
         </SoftkeyBar>
         <SoftkeyBar SystemName="skVersion"/>
         <SoftkeyBar SystemName="skVersionLog">
            <Button Position="1" DBModule="LoadDataDetermination" DBKey="LogStart" ProcID="501" ModuleIdent="LdePlugIn"/>
         </SoftkeyBar>
         <SoftkeyBar SystemName="skLogging">
            <Button Position="6" DBModule="SoftKeyBar" DBKey="Cancel" ProcID="603" ModuleIdent="LdePlugIn"/>
         </SoftkeyBar>
         <SoftkeyBar SystemName="skAxisOnly">
            <Button Position="1" DBModule="LoadDataDetermination" DBKey="SaveIdf" ProcID="203" ModuleIdent="LdePlugIn"/>
         </SoftkeyBar>
      </LegacyPlugIn>
   </KukaRoboter.SmartHMI.LegacyPlugIns>
   <!--Menu -->
   <KukaRoboter.SmartHMI.Menu type="KukaRoboter.SmartHMI.UIFramework.Menu.MenuRootImpl, SmartHMI">
      <MenuRoot SystemName="MainMenu">
         <MenuFolder SystemName="Setup">
            <MenuFolder SystemName="Service">
              <MenuItem DisplayName="MenuBar#ServiceMassIdent" MergeOrder="15">
                  <CommandCall Target="LegacyLoader.OpenPlugIn">
                     <Condition State="KrcState.ModeOp" Result="T1|T2|Aut" />
                     <Condition State="KrcState.ProgramSelected" Result="False" />
                     <Argument Name="PlugInName">LdePlugIn</Argument>
                  </CommandCall>
               </MenuItem>
            </MenuFolder>
         </MenuFolder>
      </MenuRoot>
   </KukaRoboter.SmartHMI.Menu>
   <!-- Integration of LDD in the SetupWizard -->
   <KukaRoboter.SmartHMI.SetupWizardSteps type="KukaRoboter.SmartHMI.SetupWizard.SequenceRoot, KukaRoboter.SmartHMI.SetupWizard">
      <SequenceRoot SystemName="RobotSetup" MergeOptional="true">
         <Group SystemName="ToolLoadDataGroup">
            <CommandStep SystemName="DetermineToolLoadData"
                         DisplayName="MenuBar#ServiceMassIdent"
                         Description="LoadDataDetermination#RobotSetupStepDescription"
                         Message="LoadDataDetermination#RobotSetupStepMessage">
               <PlaceBefore Target="EnterToolLoadData"/>
               <Required>
                  <Compare Result="False" >
                     <CommonProvider Target="AreAllToolLoadsDefined"/>
                  </Compare>
               </Required>
               <CommandCall Target="LegacyLoader.OpenPlugIn">
                  <Argument Name="PlugInName">LdePlugIn</Argument>
               </CommandCall>
            </CommandStep>
         </Group>
      </SequenceRoot>
   </KukaRoboter.SmartHMI.SetupWizardSteps>
</configuration>