<?xml version="1.0"?>
<configuration>
   <configSections>
      <section name="DataAccessRoutes" type="Ade.Internal.ConfigurationSectionHandler, Ade.ComponentsImpl" allowLocation="true" allowDefinition="Everywhere" allowExeDefinition="MachineToLocalUser" overrideModeDefault="Allow" restartOnExternalChanges="true" requirePermission="true" />
      <section name="KukaRoboter.SmartHMI.Commands" type="Ade.Internal.ConfigurationSectionHandler, Ade.ComponentsImpl" allowExeDefinition="MachineToLocalUser"/>
      <section name="KukaRoboter.SmartHMI.Menu" type="Ade.Internal.ConfigurationSectionHandler, Ade.ComponentsImpl" allowExeDefinition="MachineToLocalUser"/>
   </configSections>

   <DataAccessRoutes type="KukaRoboter.Common.Technology.TechHandler2.DataAccessRoute, KukaRoboter.Common.Technology">
      <DataAccessRoute  TreePath="/CurrentRoboter/Name" SpecificPath="/Registry/LocalMachine/Software/KUKA Roboter GmbH/RobotData/RobotName"/>
      <DataAccessRoute  TreePath="/CurrentRoboter/Controller/Version" SpecificPath="/Registry/LocalMachine/Software/KUKA Roboter GmbH/Version/Version"/>
      <DataAccessRoute  TreePath="/CurrentRoboter/Controller/Id" SpecificPath="/Registry/LocalMachine/Software/KUKA Roboter GmbH/Version/KRCVersion"/>
      <DataAccessRoute  TreePath="/CurrentRoboter/Controller/Build" SpecificPath="/Registry/LocalMachine/Software/KUKA Roboter GmbH/Version/Build"/>
      <DataAccessRoute  TreePath="/CurrentRoboter/Controller/DisplayName" SpecificPath="/Special/ControllerDisplayName"/>

      <DataAccessRoute  TreePath="/CurrentRoboter/CurrentToolIndex" SpecificPath="/Variables/$Act_Tool"/>
      <DataAccessRoute  TreePath="/CurrentRoboter/IsAbsolutAccurate" SpecificPath="/Variables/$ABS_ACCUR>#ACTIVE"/>
      <DataAccessRoute  TreePath="/CurrentRoboter/IsMastered" SpecificPath="/Variables/$Rob_Cal"/>
      <DataAccessRoute  TreePath="/CurrentRoboter/IsIpoModeAutomaticallyDetermined" SpecificPath="/Variables/Auto_Ipo_M"/>
      <DataAccessRoute  TreePath="/CurrentRoboter/Tools/Count" SpecificPath="/Variables/Max_Tool"/>
      <DataAccessRoute  TreePath="/CurrentRoboter/Bases/Count" SpecificPath="/Variables/Max_Base"/>

   </DataAccessRoutes>

   <KukaRoboter.SmartHMI.Commands type="KukaRoboter.SmartHMI.UIFramework.Commands.CommandInfoImpl, SmartHMI">
      <CommandInfo SystemName="KukaRoboter.Techhandler.CommandForwarderCommand" ComponentName="KukaRoboter.Common.Technology.TechHandler2.TechHandler2Component" >
         <CommandArgument Name="CommandName" Type="System.String" IsRequired="true" />
      </CommandInfo>
   </KukaRoboter.SmartHMI.Commands>

   <KukaRoboter.SmartHMI.Menu type="KukaRoboter.SmartHMI.UIFramework.Menu.MenuRootImpl, SmartHMI">
      <MenuRoot SystemName="TriggerTypeMenu2" DisplayName="Bla">
         <MenuItem DisplayName="TPBASIS#SetOut" MergeOrder="100">
            <CommandCall Target="KukaRoboter.Techhandler.CommandForwarderCommand">
               <Argument Name="CommandName">TouchUp</Argument>
            </CommandCall>
         </MenuItem>
         <MenuItem DisplayName="TPBASIS#SetPulse" MergeOrder="200">
            <CommandCall Target="KukaRoboter.Techhandler.CommandForwarderCommand">
               <Argument Name="CommandName">TouchUp</Argument>
            </CommandCall>
         </MenuItem>
      </MenuRoot>
      <MenuRoot SystemName="ChangeSplineParamsMenu" DisplayName="TPBASIS#ParameterSelection">
         <MenuItem DisplayName="TechHandler#Velocity" MergeOrder="100">
            <CommandCall Target="KukaRoboter.Techhandler.CommandForwarderCommand">
               <Argument Name="CommandName">KukaRoboter.BasisTech.InlineForms.Movement.ToggleVelocityParams</Argument>
            </CommandCall>
         </MenuItem>
         <MenuItem DisplayName="TechHandler#Movement" MergeOrder="200">
            <CommandCall Target="KukaRoboter.Techhandler.CommandForwarderCommand">
               <Argument Name="CommandName">KukaRoboter.BasisTech.InlineForms.Movement.ToggleSplineParams</Argument>
            </CommandCall>
         </MenuItem>
        <MenuItem DisplayName="TechHandler#Logic" MergeOrder="300">
          <CommandCall Target="KukaRoboter.Techhandler.CommandForwarderCommand">
            <Argument Name="CommandName">KukaRoboter.BasisTech.InlineForms.Movement.ToggleSplineLogicParams</Argument>
          </CommandCall>
        </MenuItem>
      </MenuRoot>
     <MenuRoot SystemName="SplineActionMenu" DisplayName="TPBASIS#SplineActionSelection">
       <MenuItem DisplayName="TechHandler#GetConstVelPath" MergeOrder="100">
         <CommandCall Target="KukaRoboter.Techhandler.CommandForwarderCommand">
           <Argument Name="CommandName">KukaRoboter.BasisTech.InlineForms.Movement.GetConstVelPath</Argument>
         </CommandCall>
       </MenuItem>
       <MenuItem DisplayName="TechHandler#GetCondStopPath" MergeOrder="200">
         <CommandCall Target="KukaRoboter.Techhandler.CommandForwarderCommand">
           <Argument Name="CommandName">KukaRoboter.BasisTech.InlineForms.Movement.GetCondStopPath</Argument>
         </CommandCall>
       </MenuItem>
       <MenuItem DisplayName="TechHandler#GetTriggerPath" MergeOrder="300">
         <CommandCall Target="KukaRoboter.Techhandler.CommandForwarderCommand">
           <Argument Name="CommandName">KukaRoboter.BasisTech.InlineForms.Movement.GetTriggerPath</Argument>
         </CommandCall>
       </MenuItem>
       <MenuItem DisplayName="TechHandler#AddTrigger" MergeOrder="400">
         <CommandCall Target="KukaRoboter.Techhandler.CommandForwarderCommand">
           <Argument Name="CommandName">KukaRoboter.BasisTech.InlineForms.Movement.AddTrigger</Argument>
         </CommandCall>
       </MenuItem>
       <MenuItem DisplayName="TechHandler#RemoveTrigger" MergeOrder="500">
         <CommandCall Target="KukaRoboter.Techhandler.CommandForwarderCommand">
           <Argument Name="CommandName">KukaRoboter.BasisTech.InlineForms.Movement.RemoveTrigger</Argument>
         </CommandCall>
       </MenuItem>
     </MenuRoot>
   </KukaRoboter.SmartHMI.Menu>
 
</configuration>
